.sideBarButton {
  height: 40px;
  border: none;
  text-align: left;
  border-radius: 6px;
  background-color: transparent;
  color: grey;
  font-weight: 500;
  margin-bottom: 10px;

  .label {
    margin-left: 10px;
  }

  &:hover {
    background-color: slateblue;
    width: 95%;
    color: white;
    box-shadow: 1px 7px 20px 4px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 1px 9px 20px 4px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 1px 9px 20px 4px rgba(0, 0, 0, 0.19);
  }
}
.active {
  background-color: slateblue;
  width: 95%;
  color: white;
  box-shadow: 1px 7px 20px 4px rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 1px 9px 20px 4px rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 1px 9px 20px 4px rgba(0, 0, 0, 0.19);
}
