.actionStrip {
  display: flex;

  .actionButton:last-child {
    margin-right: 0px;
  }
}
.showMore{
  display: none;
  transform: rotateZ(90deg);
}

@media (max-width: 900px) {
  .actionStrip {
    display: none;
  }
  .showMore{
    display: block;
  }
}