.dashboardCard{
    width: 100%;
    min-height: 200px;
    border-radius: 6px;
    box-shadow: 1px 9px 30px 1px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 1px 9px 30px 4px rgba(0, 0, 0, 0.051);
    -moz-box-shadow: 1px 9px 30px 4px rgba(0, 0, 0, 0.05);
    padding: 20px 30px;
}