.loginCard{
    width: min(450px,95vw);
    height: auto;
    background-color: white;
    min-height: 100px;
    border-radius: 6px;
    margin: 1rem;
    box-shadow: 1px 1px 10px 1px rgb(179, 179, 179,0.2);
    padding: 20px 25px;
}