.previewBox {
  width: 85%;
  padding: 0px !important;

  
  .heading {
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid hsl(0, 0%, 90%);
    margin-bottom: 2rem;
    .senderName {
      font-size: 12px;
      margin-left: 5px;
      font-weight: 400;
    }
  }

  .content {
    margin: auto;
    height: 77.5%;
    max-height: 300px;
    overflow-y: scroll;
    font-size: 0.85rem;
    .message {
      background-color: rgb(50, 212, 164);
      color: white;
      padding: 10px 15px;
      width: 100%;
      margin: auto;
      border-radius: 8px;
      z-index: 3;
      position: relative;
    }
  }
}
